	<center><h3>{{vm.photo.location.name}} on {{vm.photo.created_time | timefilter}}</h3></center>
	<div class="user-like-container">
		<span class="total-likes">Total Likes: {{vm.photo.likes.data.length}}</span>
		<ul class="user-likes-list">
			<li ng-repeat="user in vm.photo.likes.data">
				<div class="user-container">
					<h4>{{user.username}}</h4>
					<img src="{{user.profile_picture}}">
					
				</div>
				

			</li>
		</ul>

		
	</div>


<div class="map-container">

	<ul class="nav nav-tabs" role="tablist">

	      <li role="presentation" class="active">

	    	<a href="#standardFoodPhoto" id="maptab"  aria-controls="home" role="tab" data-toggle="tab">Food Details</a>

	    </li>

	    <li role="presentation">

	    	<a href="#mapview" id="maptab" activate-map aria-controls="home" role="tab" data-toggle="tab">Map View</a>

	    </li>

	 </ul>
				 
	<div class="tab-content">
	
		   <div role="tabpanel" class="tab-pane  fade in active "  id="standardFoodPhoto">
	    		
	    		<div class="tab-photo">
	    			<img src="{{vm.photo.images.low_resolution.url}}"/>

	    		</div>

	    		<div class="tab-photo-details">
					
					<span class="tab-photo-details-title">{{vm.photo.caption.text | captionfilter}}</span>

	    			<ul class="tab-photo-details-list">
	    				<li ng-repeat="tag in vm.photo.tags">
	    					
	    					#{{tag}}
	    				</li>
	    			</ul>

	    		</div>
		 

	    </div>

	    <div role="tabpanel" class="tab-pane"  id="mapview">
	    	
		 	  <div id="map-canvas"></div>

	    </div>

	</div><!-- end of taab content -->
 

	
</div><!-- end of map container -->

 
  
