/*   

Author: Kirck Pingul

::  1.0 Global
-------------------------------------------

::  2.0 Bootstrap Changes
-------------------------------------------

::   3.0 Main Header Section    
-------------------------------------------

::   4.0 Recent Feed Section    
-------------------------------------------

::   5.0 Highest Rated Section    
-------------------------------------------

::   6.0 Most Popular Section    
-------------------------------------------

::   7.0 About Section       
-------------------------------------------
       

::   8.0 Media Queries    
-------------------------------------------
::   8.1 768px
::   8.2 500px
*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
/* ************************************************* */
/*                    1.0 Global                     */
/* ************************************************* */
body {
  color: #FFA42D;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  background-color: #fff;
}

/* ************************************************* */
/*                 2.0 BootStrap                     */
/* ************************************************* */
.navbar {
  background: transparent;
  border-bottom: none;
  padding: 30px 0 10px;
  transition-duration: 0.6s;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #FFA42D;
}
#brand{
  font-size: 2em;
  font-style: italic;
}
#brand-1{
  font-size: 1.6em;
}
#brand:hover,
#brand:active,
#brand:focus{
  color: #FFB85A;

}
#brand-1:hover,
#brand-1:active,
#brand-1:focus{
  color: #FFB85A;

}
.navbar-default .navbar-nav>li {
  margin-right: 8px;
}
.navbar-default .navbar-nav>li:last-of-type {
  margin-right: 0;
}
.dropdown-menu,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #FFB85A;
  font-weight: bold;
}
.dropdown-menu {
  padding: 8px;
  box-shadow: none;
  border: none;
}
.dropdown-menu li a {
  padding: 4px 8px;
  border-radius: 6px;
}
.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}
.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: #fff;
}
.col-xs-4{
  text-align: center;
}
.img-circle{
  margin: 0 auto;

}
/* ************************************************* */
/*                 3.0 Main Header Section           */
/* ************************************************* */
section.cover {

  background: url('../img/alps.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 85vh;
  display: flex;
}
section.cover-about{
    background: url('../img/about.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70vh;
  display: flex;
}

.meal-title{
  font-weight: 100;
  font-size: 3em;
  color: #fff;
  text-align: center;
  padding-top: 10%;
}
.meal-count {
  font-weight: bold;
  font-size: 1.2em;
}
#meal-scroll{
  padding: 23%;
  text-align: center;
}

.about-title{
  text-align: center;
  display: block;
  color: #555;
  font-size: 2.4em;
  margin-top: 36px;
  font-weight: 900;
}


.meal-custom-button {

  height:50px;
  line-height:45px;
  background: transparent;
  border:solid 2px #FFA42D;
  color:#FFA42D;
  font-weight:400;

  cursor:pointer;
  border-radius:2px;
  transition:all ease-in-out 200ms;
}

.meal-custom-button:hover {
  background: rgba(255,255,255,0.3);
}
.lead {
    font-size:17px;
    line-height:24px;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:15px;
    color:#2e2e2e;
    position:relative;
}
.lead:after {
    position:absolute;
    content:' ';
    background:#FFA42D;
    width:80px;
    height:4px;
    bottom:-16px;
    left:50%;
    margin-left:-40px;
}

/* ************************************************* */
/*                 4.0 Recent Feed Section           */
/* ************************************************* */

.img-view {
  width: 100%;
  height: 35vh;
  margin: 20px auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.img-view img, .img-view .caption {
  position: absolute;
  transition: all 0.2s linear;
}
.img-view img {
  display: block;
  width: 100%;
  transition: all 0.4s linear;
}
.img-view .caption {
  z-index: 111;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 35vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.img-view .caption:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.img-view .caption .content {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.4s linear;
}
.img-view:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: #000 0 0 50px inset;
  display: block;
  transition: all 0.3s ease;
  opacity: 0;
}
.img-view h2 {
  margin: 0 0;
  font-weight: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  opacity: 0;
  transform: perspective(120px) rotateX(52deg);
  transition: all 0.4s linear;
}
.img-view p {
  font-weight: 100;
  opacity: 0;
  transform: translate(0, 10px);
  -webkit-filter: blur(5px);
  transition: all 0.4s ease;
}
.img-view:hover .caption, .img-view:hover:after {
  opacity: 1;
}
.img-view:hover h2 {
  transform: translate(0, 0) rotate(0);
  opacity: 1;
}
.img-view:hover p {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-filter: blur(0);
}
.img-view:hover img {
  transform: scale(1.1);
}

.fa-heart{
  color: #FFA42D;
}
/* ************************************************* */
/*                 5.0 Highest Rated Section         */
/* ************************************************* */

.highest-rated-section{
  background: #FFC477;
  padding-bottom: 60px;
  color: #363636;
}
.highest-rated-section-1{
  margin-top: 30px;
}
.highest-rated-section-2{
  text-align: center;
}
.highest-rated-desc{
  color: #34495B;
  font-weight: 800;
}
.highest-related-desc-1{
  font-size: 0.75em;
}


.chart-container{
  text-align: center;
  padding: 50px 0px;
}
#myChart{
  width: 800px;
  height: 250px;
}
/* ************************************************* */
/*                 6.0 Most Popular Section          */
/* ************************************************* */
.most-popular-section{
  padding-bottom: 60px;
}
/* jQuery Styles
===================================*/
.navbar-scroll {
  background: rgba(52,73,91, 0.9);
  padding: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}
.footer{
    padding: 30px 60px;
    font-size: 1.2em;
    background: #34495B;
}

/* ************************************************* */
/*                 7.0 About Section                 */
/* ************************************************* */
.about-description{
  color: #fff;
  font-weight: bold;
  font-size: 0.5em;
  display: block;
}
.about-description-title{
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}
.about-information {
  color: #555;

}
.about-me-section{
  padding: 30px 0px;
}
.about-information-desc{
  width: 50%;
  margin: 0 auto;
}

/* ************************************************* */
/*                 8.0 Media Queries                 */
/* ************************************************* */

/* 8.1 Media Query 768px */

@media (max-width: 768px) {
  .highest-rated-desc{

    display: block;
  }
  .highest-rated-desc-1{
    display: block;
  }
  .meal-title {

    padding-top: 25%;
  }
  #myChart {
    height: 400px;
  }
}

/* 8.2 Media Query 500px */

@media (max-width: 500px) {
  .footer{
    padding: 30px 30px;
      font-size: 0.9em;  
  }
  .about-information-desc{
    width: 100%;
  }
  #myChart {
    height: 500px;
  }
}

