
<!-- Fixed Nav -->
<nav class="navbar navbar-default navbar-fixed-top" id="myScrollspy" scroll>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="brand" href="">Kirck's Food Journey</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about" id="brand-1">About</a></li>
      </ul>
    </div>
  </div>
</nav>  
<!-- //Close Fixed Nav -->  

<section class="cover" id="spytop">  
  <div class="container">
      <p class="meal-title">
        <span class="meal-count"><a style="color: #FFA42D" href="http://instagram.com/kgp_415">{{vm.feed.length}}</a></span> Meals and counting, <span class="meal-count">1</span> Man
      </p>
  </div><!-- end of container -->
</section><!-- end of cover -->

<div class="row">
   <span class="about-title">Most Recent Meals</span>
    <p class="lead"></p>
</div><!-- end of row -->

<div class="row" style="padding: 45px 0px">
      <div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="photo in ::vm.images track by $index">   
        <div class="img-view">
          <img ng-src="{{photo.images.standard_resolution.url}}" class=" img-responsive"/>
          <div class="caption">
              <div class="content">
                <p>
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-heart fa-stack-2x"></i>
                    <strong class="fa-stack-1x">{{photo.likes.count}}</strong>
                  </span>
                </p>
                <h3>{{photo.created_time | timefilter}}</h3>
                <p>{{photo.caption.text | captionfilter}}</p>
              </div><!-- end of content -->
            </div><!-- end of caption -->
        </div><!-- end of img view -->
      </div><!-- end of col -->
</div><!-- end of row -->

<div class="row highest-rated-section">
  <div class="row">
   <span class="about-title">Most Liked Meal</span>
    <p class="lead"></p>
  </div><!-- end of row -->

  <div class="row highest-rated-section-1">
    <div class="col-xs-12 col-sm-5 col-md-5">
      <img ng-src="{{vm.highestRated.images.low_resolution.url}}" class="img-circle img-responsive" alt="">
    </div>

    <div class="col-xs-12 col-sm-7 col-md-7 highest-rated-section-2" >
      <h3>
        <span class="highest-rated-desc">Type:</span> 
        <span class="highest-related-desc-1">{{vm.highestRatedRestaurant.categories[0][0]}}</span>
      </h3> 
      <h3>
        <span class="highest-rated-desc">Total Likes:</span> 
        <span class="highest-related-desc-1">{{vm.highestRated.likes.count}}</span>
      </h3>      
      <h3>
        <span class="highest-rated-desc">Hash Tags:</span> 
        <span class="highest-related-desc-1" ng-repeat="tag in vm.highestRated.tags track by $index">
          #{{tag}} 
        </span>
      </h3>

      <h3>
        <span class="highest-rated-desc">Where:</span> 
        <span class="highest-related-desc-1">{{vm.highestRatedRestaurant.name}}</span>
      </h3>

      <h3>
        <span class="highest-rated-desc">Location:</span> 
        <span class="highest-related-desc-1">{{vm.highestRatedRestaurant.location.city}}, {{vm.highestRatedRestaurant.location.state_code}}</span>
      </h3>

      <h3>
        <span class="highest-rated-desc">Yelp Rating:</span> 
        <img ng-src="{{vm.highestRatedRestaurant.rating_img_url_large}}" id="highest-rated-rating" alt="">
      </h3>

      <h3>
        <span class="highest-rated-desc">Yelp Review:</span>
        <span class="highest-related-desc-1">{{vm.highestRatedRestaurant.reviews[0].user.name}} says: {{vm.highestRatedRestaurant.reviews[0].excerpt}}</span>
      </h3>

    </div><!-- end of highest-rated-section-2 -->
    
  </div><!-- end of highest-rated-section-1 -->
</div><!-- end of highest-rated-section -->

<div class="row ">

  <div class="row">
    
    <span class="about-title">Most Popular Liker</span>
      <p class="lead"></p>
    
  </div>

  <div class="row" style="padding: 60px 0px">
    
    <div class="col-md-6">

      <center>
        <h1>
        {{vm.mostLiked.username}}
      </h1>
      <p>
        <img ng-src="{{vm.mostLiked.img}}" alt="" class="img-circle">
      </p>
    </center>

    </div>

    <div class="col-md-6">

    
        <ul style="list-style: none; padding: 0; text-align: center">
          <li style="display: inline" ng-repeat="photo in vm.mostLiked.images">
            <img ng-src="{{photo}}" width=80 height=80 alt="">
          </li>
        </ul>   
   
    </div>

  </div>


</div>

<div class="row highest-rated-section">
  <span class="about-title">Meals Since I Joined</span>
    <p class="lead"></p>
    <div class="col-md-12">
      <div class="chart-container">
        <canvas id="myChart"></canvas>
      </div>  
    </div>

</div>

<div class="footer">
  <p>
    <span style="float: left">@Kirck's Food Journey</span>
    <span style="float: right">Created by Kirck Pingul</span>
  </p>
</div>
  