

<!-- Filter Section -->

		<ol class="breadcrumb" >

		  <li>Filter By</li>
		    <li><a href="#" ng-click="sortType = 'caption.text'">Name</a></li>
		  <li><a href="#" ng-click="sortType = '-likes.count'" >Most Likes</a></li>
		  <li><a href="#" ng-click="sortType = 'likes.count'">Least Likes</a></li>
		 
		</ol>
	


<center>

	<ul id="da-thumbs" class="da-thumbs photofeed-list">

		<li   class="effectHover" effect-hover ng-repeat="photo in vm.images | orderBy:sortType track by $index">

			<a  ui-sref="photos({id: $index})">

				<img src="{{photo.images.low_resolution.url}}" class="instaPhotos" />

				<div>

					<span><i class="fa fa-heart fa-2x"></i> <b>{{photo.likes.count}}</b> </span>
					<h6>Click for more details..</h6>
				</div>

			</a>

		</li>

	</ul>

</center>
